.article-title-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.5rem;
  padding: 40px 0;
}

.article-picture-wrapper {
  margin-bottom: 2rem;
}

.article-picture-wrapper p {
  font-size: 0.8rem;
}

.article-picture-wrapper h3 {
  margin-bottom: 0.5rem;
}

/* small */
@media screen and (min-width: 550px) {
  .article-title-wrapper {
    padding: 60px 0;
  }
  
  .article-picture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* mediumsmall */
@media screen and (min-width: 768px) {
  .article-picture-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* medium  */
@media screen and (min-width: 1024px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 20% auto;
  }

  .article-picture-container {
    border-left: 3px solid black;
    padding-left: 1rem;
  }
}

/* large */
@media screen and (min-width: 1200px) {
  .article-picture-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* largest
@media screen and (min-width: 1440px) {
  .article-picture-container {
    grid-template-columns: repeat(5, 1fr);
  }
} */
