.title-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
    padding: 40px 0;
}

hr {
    height: 3px;
    border-width: 0;
    color: black;
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    padding-bottom: 16px;
}