.gallery-title-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.5rem;
  padding: 40px 0;
}

figcaption {
  text-align: center;
  padding-bottom: 16px;
}

/* small */
@media screen and (min-width: 550px) {
  .gallery-picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  figcaption {
    padding: 0;
  }
}

/* mediumsmall */
@media screen and (min-width: 768px) {
  .gallery-picture-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* medium */
@media screen and (min-width: 1024px) {
  .gallery-wrapper {
    display: grid;
    grid-template-columns: 20% auto;
  }
  .gallery-picture-container {
    border-left: 3px solid black;
    padding-left: 1rem;
  }
}

/* largest */
@media screen and (min-width: 1440px) {
  .gallery-picture-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
