header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: clamp(2rem, 10vw, 468px);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;

  justify-content: space-around;
  gap: 0.5em;
}

header a {
  color: black;
}
header a:not(nav a) {
  text-decoration: none;
}
@media screen and (min-width: 468px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
