* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lora", serif;
  padding: 0.25rem;
}

h1,
h2,
h3 {
  font-family: "League Gothic", sans-serif;
}

article h3 {
  font-family: "Lora", serif;
}

@font-face {
  font-family: "League Gothic";
  font-weight: 400;
  src: url("../LeagueGothic/static/WOFF2/LeagueGothic-Regular.woff2")
      format("woff2"),
    url("../LeagueGothic/static/WOFF/LeagueGothic-Regular.woff") format("woff");
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 3px;
  border-width: 0;
  color: black;
  background-color: black;
}

section {
  margin-bottom: 3rem;
}

@media screen and (min-width: 550px) {
  html {
    padding: 20px 0.25rem;
  }
}

